.menu {
  width: 30vh;
  height: 99%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2% 0;
}

.keys {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-top: 1px solid black;
}

