.article {
  border-top: 1px solid black;
  height: 20%;
  display: flex;
  justify-content: space-between;
}

.article-txt {
  height: 100%;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img-container {
  height: 100%;
  width: fit-content;
  display: flex;
  align-items: center;
}

.feed-img {
  height: 80%;
}

.title-link {
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
}

.title-link:hover {
  font-weight: bold;
}